@charset "UTF-8";

@media screen and (min-width: 768px) {
    body {
        background-image: linear-gradient(to bottom, var(--bgcolor), var(--btncolor));
    }

    #login {
        width: 100%;
        max-width: 614px;
    }

    #image {
       float: left;
       width: 30%;
       height: 303px;
       border-top-right-radius: unset;
       border-bottom-left-radius: 18px;
    }

    #form {
        float: right;
        width: 70%;
        border-top-right-radius: 18px;
        border-bottom-left-radius: unset;
    }

    .input-login {
        width: 360px;
    }

}

@media screen and (min-width: 992px) {

    
    #login {
        width: 100%;
        max-width: 950px;
        height: 350px;
    }

    #image {
       float: right;
       width: 50%;
       height: 350px;
       border-top-right-radius: 18px;
       border-bottom-right-radius: 18px;
       border-bottom-left-radius: unset;
       border-top-left-radius: unset;
    }

    #form {
        float: left;
        width: 50%;
        height: 100%;
        border-top-right-radius: unset;
        border-bottom-right-radius: unset;
        border-top-left-radius: 18px;
        border-bottom-left-radius: 18px;
    }

    .form-heading {
        font-size: 2em;
    }

    .form-txt {
        font-size: 1em;
        margin: 20px 0px;
    }

    .input-login {
        width: 405px;
    }
}




